@font-face {
  font-family: "Freeman";
  src: url("/public/Freeman-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("/public/Outfit-Medium.ttf");
}

:root {
  --white: #fff;
  --purple: oklch(20% 0.06 300);

  font-family: Freeman, Arial, sans-serif;

  /*color-scheme: light dark;*/
  color: var(--white);
  background-color: var(--purple);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --breakpoint: 868px;
}

body {
  margin: 0;
  height: 100vh;
}

button {
  font-family: Outfit, Arial, sans-serif;
  font-size: 16px;
  padding: 4px 16px;
  min-height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  transition: all 250ms;
  width: 100%;
  display: flex;
  justify-content: center;
}

button:not(:disabled):hover,
button:focus-visible {
  background-color: rgba(240, 240, 240, 0.85);
}

button:active {
  color: rgba(0, 0, 0, 0.65);
}

.grid-wrapper {
  display: grid;
  gap: 64px;
  min-height: 100%;
  padding-block-end: 64px;

  @media (min-width: 868px) {
    grid-template-columns: 2fr 1fr;
    gap: 16px;
    padding-block-end: 0;
  }
}

.controls {
  padding: 4%;
  padding-block-start: 32px;
  background-color: color-mix(in oklch, black, transparent 64%);

  @media (min-width: 868px) {
    padding: 8%;
  }
}

.play-pause-toggle {
  margin-block: 16px;

  .play-button {
    display: inline-block;
    margin-bottom: 28px;
  }

  .draining {
    height: 24px;
    margin-top: 4px;
  }

  .pause-button, .draining {
    display: none;
  }

  &[data-animation-playing] {
    .play-button {
      display: none;
    }

    .pause-button, .draining {
      display: inline-block;
    }
  }
}

.buttons-wrapper {
  margin-block: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.noise-level-label {
  margin-block: 12px 6px;
}

.noise-settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.indicators {
  position: absolute;
  margin: 8px 4%;

  .playback-rate, .time-left, .separator {
    display: inline-block;
    margin: 0;
  }

  .separator {
    margin-inline: 8px;
  }

  @media (min-width: 868px) {
    margin: 8px 16px;
  }
}

.battery-wrapper {
  margin: auto;

  @media (min-width: 868px) {
    order: -1;
    padding-block-start: 20px;
  }
}

.battery-outline {
  --end-width: 36%;
  --end-height: 4%;
  --light-blue: oklch(90% 0.1 264);

  padding: 16px;
  border: 12px solid var(--light-blue);
  border-radius: 2px;
  height: 64vh;
  max-width: 70vw;
  aspect-ratio: 1.4 / 2;
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    left: calc((100% - var(--end-width)) / 2);
    width: var(--end-width);
    height: var(--end-height);
    background-color: var(--light-blue);
  }

  &::before {
    top: calc(-11px - var(--end-height));
  }

  &::after {
    bottom: calc(-11px - var(--end-height));
  }
}

.battery-drainer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--purple);
  width: 100%;
  animation: 28800s linear forwards battery-drain; /* 288000 seconds = 8 hours */
  animation-play-state: paused;
}

.battery-blocks {
  height: 100%;

  --height-gaps: 2.5%;
  --height-blocks: calc((100% - var(--height-gaps) * 7) / 8);
  --height-added: calc(var(--height-blocks) + var(--height-gaps));

  --color-level-1: oklch(80% 0.12 180);
  --color-level-2: oklch(80% 0.1 222);
  --color-level-3: oklch(80% 0.1 264);
  --color-level-4: oklch(72% 0.1 306);
  --color-level-5: oklch(72% 0.12 348);
  --color-level-6: oklch(72% 0.14 24);

  background: linear-gradient(to bottom,
  var(--color-level-1) var(--height-blocks), var(--purple) var(--height-blocks), var(--purple) var(--height-added), var(--color-level-1) var(--height-added),
  var(--color-level-1) calc(var(--height-added) + var(--height-blocks)), var(--purple) calc(var(--height-added) + var(--height-blocks)), var(--purple) calc(var(--height-added) * 2), var(--color-level-1) calc(var(--height-added) * 2),
  var(--color-level-2) calc(var(--height-added) * 2 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 2 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 3), var(--color-level-2) calc(var(--height-added) * 3),
  var(--color-level-3) calc(var(--height-added) * 3 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 3 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 4), var(--color-level-3) calc(var(--height-added) * 4),
  var(--color-level-4) calc(var(--height-added) * 4 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 4 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 5), var(--color-level-4) calc(var(--height-added) * 5),
  var(--color-level-5) calc(var(--height-added) * 5 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 5 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 6), var(--color-level-5) calc(var(--height-added) * 6),
  var(--color-level-6) calc(var(--height-added) * 6 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 6 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 7), var(--color-level-6) calc(var(--height-added) * 7),
  var(--color-level-6) calc(var(--height-added) * 7 + var(--height-blocks)), var(--purple) calc(var(--height-added) * 7 + var(--height-blocks)));
}

dialog {
  padding: 20px 40px;

  button {
    margin-top: 32px;
  }
}

dialog::backdrop {
  background-image: linear-gradient(
    65deg,
    #4c2c72,
    #82ace3 42%,
    #81eebb 72%,
    #fdb3aa
  );
  opacity: 0.8;
}

@keyframes battery-drain {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}